<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("components/head.ejs") %>
        <title>Dat.io – Matchlist</title>
</head>

<body class="matchlist">
    <header>
        <%- include ("components/header-two.ejs") %>
    </header>
    <main>
        <ul>
            <% for (let i = 0; i < users.length; i++) { %>
                <li>
                    <article id="person-options">
                        <figure>
                            <img src="images/users/<%= users[i].photo %>.jpg" alt="Liked user" />
                        </figure>
                        <figcaption>
                            <h2>
                                <%= users[i].firstName %>
                                    <%=users[i].lastName %>,
                                        <%=users[i].age %>
                            </h2>
                            <p>You've got a match, lets talk!</p>
                        </figcaption>
                    </article>
                </li>
                <% }%>
        </ul>
    </main>
    <%- include ("components/footer-m.ejs") %>
</body>

</html>