<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("components/head.ejs") %>
    <title>Profile — Dat.io</title>
  </head>

  <body class="profile">
    <header>
      <%- include ("components/header-two.ejs") %>
    </header>
    <main>
      <a href="/updateProfile">edit profile page</a>
      <div>
        <img  src="images/users/<%= user.photo%>" alt="">
      </div>
        <h2>My profile</h2>
        <section>
          <div>
            <p>Name:</p>
            <p><%= user.firstName%> <%=user.lastName %> </p>
          </div>
          <div>
            <p>Age:</p>
            <p><%= user.age %> </p>
          </div>
          <div>
            <p>Email:</p>
            <p><%= user.email %> </p>
          </div>
        </section>
      <form action="/signOut" method="POST">
        <input name="SignOut" type="submit" value="Sign Out" />
      </form>
    </main>
    <%- include ("components/footer-p.ejs") %>
  </body>
</html>
