<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("components/head.ejs") %>
    <title>Dat.io – Profile</title>
  </head>

  <body class="profile">
    <header>
      <%- include ("components/header-two.ejs") %>
    </header>
    <main>
      <form action="/profile" enctype="multipart/form-data" method="POST">
        <!-- <input type="file" name="myImage" accept="image/*" /> -->

        <div>
          <img src="images/users/melissagomez.jpg" alt="" />
        </div>

        <h2>My profile</h2>

        <section>
          <div>
            <label for="Name">First name:</label>
            <input type="text" name="firstName" placeholder="<%= user.firstName %>">
          </div>
          <div>
            <label for="email">Email:</label>
            <input type="text" name="email" value="<%= user.email %>" placeholder="Email">
          </div>
          <div>
            <label for="age">Age:</label>
            <input type="text" name="age" value="<%= user.age %>" placeholder="Age">
          </div>
          <div>
            <p>What do you like?</p>
            <h3>Movies:</h3>
            <!-- <select name="movies" id="">
              <option value="firstChoice">-- Choose an option</option>
              <option value="horrorMovies">#horrorMovies</option>
              <option value="fantasyMovies">#fantasyMovies</option>
            </select>
            <select name="movies" id="">
              <option value="secondChoice">-- Choose an option</option>
              <option value="horrorMovies">#horrorMovies</option>
              <option value="fantasyMovies">#fantasyMovies</option>
            </select> -->
          </div>
        </section>
        <input type="submit" value="submit profile"/>
        </form>

        <!-- <form action="/profile" autocomplete="off" method="POST">
          <input type="password" required name="newPassword" placeholder="New password">
       <button>  <input type="submit" value="Change Password"></button> 
      </form> -->
    </main>
    <%- include ("components/footer-p.ejs") %>
  </body>
</html>
